@media (min-width: 1026px) and (max-width: 1281px) {
    #alertBubble {
        clip-path: polygon(7% 0, 94% 0, 100% 29%, 51% 29%, 49.6% 39%, 48% 29%, 0 27%);
        height: 150%;
        background-color: #33b5e5;
        color: #ffffff;
    }
    h4#bubbleBrand {
        font-size: 130%;
    }
}