@media (min-width: 482px) and (max-width: 641px) {
    #alertBubble {
        clip-path: inset(0 0 62% 0);
        background-color: #33b5e5;
        color: #ffffff;
    }
    h4#bubbleBrand {
        font-size: 148%;
    }
}