@media (min-width: 320px) and (max-width: 481px) {
    #alertBubble {
        clip-path: inset(0 0 58% 0);
        background-color: #33b5e5;
        color: #ffffff;
    }
    h4#bubbleBrand {
        font-size: 125%;
    }
}