@media (min-width: 642px) and (max-width: 961px) {
    #alertBubble {
        clip-path: inset(0 0 54% 0);
        background-color: #33b5e5;
        color: #ffffff;
    }
    h4#bubbleBrand {
        font-size: 200%;
    }
}