@media (min-width: 1026px) and (max-width: 1281px) {
    #ProfilePic {
        position: relative;
        bottom: 146px;
        min-height: 5%;
        min-height: 5vh;
        width: 16%;
        border-radius: 100% 100% 100% 100%;
        border: 2px solid #ffffff;
    }
    #DiveDeeper {
        position: relative;
        bottom: 140px;
    }
    #DeepDiveText {
        font-size: 200% !important;
    }
}