@media (min-width: 962px) and (max-width: 1025px) {
    #ProfilePic {
        position: relative;
        bottom: 160px;
        min-height: 5vh;
        width: 18%;
        border-radius: 100% 100% 100% 100%;
        border: 2px solid #ffffff;
    }
    #DiveDeeper {
        position: relative;
        bottom: 160px;
    }
    #DeepDiveText {
        font-size: 200%;
    }
}