@media (min-width: 482px) and (max-width: 641px) {
    #ProfilePic {
        position: relative;
        bottom: 140px;
        min-height: 10%;
        min-height: 10vh;
        border-radius: 100% 100% 100% 100%;
        border: 2px solid #ffffff;
    }
    #DiveDeeper {
        position: relative;
        bottom: 120px;
    }
}