@media (min-width: 642px) and (max-width: 961px) {
    #ProfilePic {
        position: relative;
        bottom: 130px;
        min-height: 5%;
        min-height: 5vh;
        width: 30%;
        border-radius: 100% 100% 100% 100%;
        border: 2px solid #ffffff;
    }
    #DiveDeeper {
        position: relative;
        bottom: 120px;
    }
}