@media (min-width: 482px) and (max-width: 641px) {
    #AboutMe {
        height: 100vh;
        color: #fff;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    #MyYoungProfile {
        display: none;
        float: left;
        background: url(../../../assets/images/DiveProfile.jpg);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-right: 4px solid #ec543a;
        height: 100vh;
        width: 50vw;
        filter: brightness(80%);
    }
    h1.white-text.font-weight-bold {
        font-size: 300%;
    }
    h2.font-weight-bold {
        font-size: 200%;
    }
    .card.cardTransparency.text-white {
        height: 100%;
        overflow: scroll;
    }
    button.btn.btn-danger.waves-effect.waves-light {
        margin-bottom: 33%;
    }
    .view {
        height: 100vh;
        background: url(../../../assets/images/UpperDarby.jpg);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .cardTransparency {
        background: none;
        box-shadow: none;
    }
}