/* Global Styling */

html, body {
    font-family: 'Francois One', sans-serif;
}

.btnGithub {
    box-shadow: 0 1px 15px 1px #343a40;
    border: 10px solid #343a40 !important;
}

.btnGithub:hover {
    box-shadow: 0 1px 5px 1px #343a40;
    border: 10px solid #343a40 !important;
}

.btnGithub:active {
    box-shadow: 0 0 0 0 #343a40;
    border: 8px solid #343a40 !important;
}

/* Hide Mobile Bubble */

#bubblePhoneView {
    display: none !important;
}

img {
    width: 24vw !important;
}

.fa-brain {
    padding: 20px;
    font-size: 200%;
}

.btn-success {
    padding: 0 !important;
    margin: 0 !important;
}

.progress.active .progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}

/* Connected Users Counter Style */

.users {
    background-color: #343a40;
    font-weight: bold;
    padding: 5px;
}

button {
    font-size: 250% !important;
}

/* Social Circle Floating Animation */

.floating {
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
}

/* Up, Down, Up! */

@keyframes floating {
    from {
        transform: translate(0, 0px);
    }
    65% {
        transform: translate(0, 6px);
    }
    to {
        transform: translate(0, -0px);
    }
}

/* Linkedin Button */

.btnLinkedin {
    box-shadow: 0 1px 15px 1px #343a40;
    border: 10px solid #007bff !important;
}

.btnLinkedin:hover {
    box-shadow: 0 1px 5px 1px #343a40;
    border: 10px solid #007bff !important;
}

.btnLinkedin:active {
    box-shadow: 0 0 0 0 #343a40;
    border: 8px solid #007bff !important;
}

.speech-bubble {
    position: relative;
    background: #00aabb;
    border-radius: 0 0 85% 85%;
    padding: 0;
    margin: 0;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #00aabb;
    border-bottom: 0;
    margin-left: -20px;
    margin-bottom: -20px;
}

/* Github Button */

.btnSocial {
    border-radius: 50%;
    font-size: 50px;
}

.profile {
    filter: brightness(90%);
    border-radius: 50%;
    width: 20%;
}

.nav-link {
    background-color: #99ccff;
    width: 100%;
    margin-top: 10px;
    border: 2px solid #000000;
    font-size: 2em !important;
}

.card-img-top {
    width: 100% !important;
}

/* Phone */

@media (min-width:320px) {
    /* Responsive Navbar */
    .navbar-brand {
        font-size: 2em !important;
        padding: 0 0 0 0 !important;
        margin: 0 !important;
    }
    .navbar {
        width: 100vw;
        background-color: #20639b;
        border-bottom: 1px solid #173f5f;
        z-index: 1000;
    }
    span {
        display: block;
    }
    span.divider {
        display: none;
    }
    .navbar {
        width: 100% !important;
    }
    .btnSocial {
        font-size: 2.6em;
    }
    ul {
        text-align: center;
    }
    .nav-link {
        background-color: #99ccff;
        width: 100%;
        margin-top: 10px;
        border: 2px solid #000000;
        font-size: 2em !important;
    }
    #circle-brand {
        font-size: 2em !important;
    }
    /* Show Mobile Bubble */
    #bubbleDeskView {
        display: none !important;
    }
    /* Hide Desk Bubble */
    #bubblePhoneView {
        display: block !important;
        font-size: 14px;
    }
    /* Responsive Jumbotron */
    .jumbotron {
        background-color: #ed553b;
        width: 100vw;
        height: 88vh;
        padding: 0;
        margin-bottom: 0;
    }
    .display-2 {
        font-size: 28px;
    }
    .btn-info {
        font-size: 15px !important;
    }
    .display-4 {
        font-size: 2em;
    }
    #deepDiveBackground {
        background-image: url(./../images/profiles/myProfileDive.png);
        /* background-size: 100%; */
        background-repeat: no-repeat;
        width: 100vw !important;
        height: 66vh !important;
        background-size: auto 100%;
        background-repeat: no-repeat;
        filter: #696969;
        /* IE6-9 */
        -webkit-filter: grayscale(100%);
        /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    }
    .aboutMeParagraph {
        font-size: 20px !important;
    }
}

/* Tablet */

@media (min-width:720px) {}

/* Desktop */

@media (min-width:1080px) {
    #deepDiveBackground {
        background-image: url(./../images/profiles/myProfileDive.png);
        /* background-size: 100%; */
        background-repeat: no-repeat;
        width: 100vh !important;
        height: 100vh !important;
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: left top;
        filter: #696969;
        /* IE6-9 */
        -webkit-filter: grayscale(100%);
        /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    }
    /* Navbar Style */
    .navbar-brand {
        font-size: 82px !important;
    }
    .navbar {
        width: 100vw;
        background-color: #20639b;
        border-bottom: 1px solid #173f5f;
        z-index: 1000;
    }
    .nav-link {
        background: none !important;
        border: none !important;
        color: #ffffff !important;
        font-size: 45px !important;
    }
    .nav-link:hover {
        color: #ffffff !important;
        font-weight: bold;
        font-size: 35px;
    }
    span {
        display: none;
    }
    span.divider {
        display: block;
    }
    .active {
        font-weight: bold;
    }
    .jumbotron {
        background-color: #ed553b;
        width: 100%;
        height: 40vw;
        padding: 0;
        margin-bottom: 0;
    }
    #circle-brand {
        font-size: 48px !important;
    }
    .btnGithub {
        box-shadow: 0 1px 15px 1px #343a40;
        border: 20px solid #343a40 !important;
    }
    .btnGithub:hover {
        box-shadow: 0 1px 5px 1px #343a40;
        border: 20px solid #343a40 !important;
    }
    .btnGithub:active {
        box-shadow: 0 0 0 0 #343a40;
        border: 8px solid #343a40 !important;
    }
    .btnLinkedin {
        box-shadow: 0 1px 15px 1px #343a40;
        border: 20px solid #007bff !important;
    }
    .btnLinkedin:hover {
        box-shadow: 0 1px 5px 1px #343a40;
        border: 20px solid #007bff !important;
    }
    .btnLinkedin:active {
        box-shadow: 0 0 0 0 #343a40;
        border: 8px solid #007bff !important;
    }
    .display-2 {
        font-size: 58px !important;
    }
    .btn-info {
        font-size: 25px !important;
    }
    /* Show Mobile Bubble */
    #bubbleDeskView {
        display: block !important;
    }
    /* Hide Desk Bubble */
    #bubblePhoneView {
        display: none !important;
    }
    img {
        width: 20vw !important;
    }
}