/* Global Styling */

html, body {
    font-family: 'Francois One', sans-serif;
    height: 100vh;
}

/* Navbar Style */

.navbar-brand {
    font-size: 72px !important;
}

.navbar {
    /* position: fixed; */
    /* width: 100%; */
    background-color: #20639b;
    border-bottom: 1px solid #173f5f;
}

.nav-link {
    color: #ffffff !important;
    font-size: 35px;
}

.nav-link:hover {
    color: #ffffff !important;
    font-weight: bold;
    font-size: 35px;
}

span.divider {
    padding-left: 15px;
}

.active {
    font-weight: bold;
}

.jumbotron {
    background-color: #ed553b;
    width: 100%;
    height: 100%;
    padding: 0;
    margin-bottom: 0;
}

.profile {
    filter: brightness(90%);
    border-radius: 50%;
    width: 20%;
}

.speech-bubble {
    position: relative;
    background: #00aabb;
    border-radius: 0 0 85% 85%;
    padding: 0;
    margin: 0;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #00aabb;
    border-bottom: 0;
    margin-left: -20px;
    margin-bottom: -20px;
}

/* Github Button */

.btnSocial {
    border-radius: 50%;
    font-size: 50px;
}

.btnGithub {
    box-shadow: 0 1px 15px 1px #343a40;
    border: 10px solid #343a40 !important;
}

.btnGithub:hover {
    box-shadow: 0 1px 5px 1px #343a40;
    border: 10px solid #343a40 !important;
}

.btnGithub:active {
    box-shadow: 0 0 0 0 #343a40;
    border: 8px solid #343a40 !important;
}

/* Linkedin Button */

.btnLinkedin {
    box-shadow: 0 1px 15px 1px #343a40;
    border: 10px solid #007bff !important;
}

.btnLinkedin:hover {
    box-shadow: 0 1px 5px 1px #343a40;
    border: 10px solid #007bff !important;
}

.btnLinkedin:active {
    box-shadow: 0 0 0 0 #343a40;
    border: 8px solid #007bff !important;
}

/* Social Circle Floating Animation */

.floating {
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
}

/* Up, Down, Up! */

@keyframes floating {
    from {
        transform: translate(0, 0px);
    }
    65% {
        transform: translate(0, 6px);
    }
    to {
        transform: translate(0, -0px);
    }
}

/* Connected Users Counter Style */

.users {
    background-color: #343a40;
    font-weight: bold;
    padding: 5px;
}

button {
    font-size: 250% !important;
}

/* Hide Mobile Bubble */

#bubblePhoneView {
    display: none;
}

img {
    max-height: 40% !important;
    max-width: 30% !important;
}

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */

@media (max-width:320px) {
    /* Responsive Navbar */
    .navbar-brand {
        font-size: 2em !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    span.divider {
        display: none;
    }
    .navbar {
        width: 100% !important;
    }
    .btnSocial {
        font-size: 2.6em;
    }
    ul {
        text-align: center;
    }
    .nav-link {
        background-color: lightblue;
        width: 100%;
        margin-top: 10px;
        border: 2px solid black;
        font-size: 2em !important;
    }
    #circle-brand {
        font-size: 2em !important;
    }
    /* Show Mobile Bubble */
    #bubbleDeskView {
        display: none !important;
    }
    /* Hide Desk Bubble */
    #bubblePhoneView {
        display: block !important;
    }
    /* Responsive Jumbotron */
    .jumbotron {
        background-color: #ed553b;
        width: 100%;
        height: 100%;
        padding: 0;
        margin-bottom: 0;
    }
    .display-2 {
        font-size: 38px;
    }
    .btn-info {
        font-size: 20px !important;
    }
}

@media (max-width:460px) {
    /* smartphones, Android phones, landscape iPhone */
    /* Responsive Navbar */
    .navbar-brand {
        font-size: 2em !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    span.divider {
        display: none;
    }
    .navbar {
        width: 100% !important;
    }
    .btnSocial {
        font-size: 2.6em;
    }
    ul {
        text-align: center;
    }
    .nav-link {
        background-color: lightblue;
        width: 100%;
        margin-top: 10px;
        border: 2px solid black;
        font-size: 2em !important;
    }
    #circle-brand {
        font-size: 2em !important;
    }
    /* Show Mobile Bubble */
    #bubbleDeskView {
        display: none !important;
    }
    /* Hide Desk Bubble */
    #bubblePhoneView {
        display: block !important;
    }
    /* Responsive Jumbotron */
    .jumbotron {
        background-color: #ed553b;
        width: 100%;
        height: 100%;
        padding: 0;
        margin-bottom: 0;
    }
    .display-2 {
        font-size: 38px;
    }
    .btn-info {
        font-size: 20px !important;
    }
}

@media (max-width:521px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    /* Responsive Navbar */
    .navbar-brand {
        font-size: 2em !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    span.divider {
        display: none;
    }
    .navbar {
        width: 100% !important;
    }
    .btnSocial {
        font-size: 2.6em;
    }
    ul {
        text-align: center;
    }
    .nav-link {
        background-color: lightblue;
        width: 100%;
        margin-top: 10px;
        border: 2px solid black;
        font-size: 2em !important;
    }
    #circle-brand {
        font-size: 2em !important;
    }
    /* Show Mobile Bubble */
    #bubbleDeskView {
        display: none !important;
    }
    /* Hide Desk Bubble */
    #bubblePhoneView {
        display: block !important;
    }
    /* Responsive Jumbotron */
    .jumbotron {
        background-color: #ed553b;
        width: 100%;
        height: 100%;
        padding: 0;
        margin-bottom: 0;
    }
    .display-2 {
        font-size: 38px;
    }
    .btn-info {
        font-size: 20px !important;
    }
    img {
        width: 35% !important;
    }

}

@media (max-width:560px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    /* Responsive Navbar */
    .navbar-brand {
        font-size: 2em !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    span.divider {
        display: none;
    }
    .navbar {
        width: 100% !important;
    }
    .btnSocial {
        font-size: 2.6em;
    }
    ul {
        text-align: center;
    }
    .nav-link {
        background-color: lightblue;
        width: 100%;
        margin-top: 10px;
        border: 2px solid black;
        font-size: 2em !important;
    }
    #circle-brand {
        font-size: 2em !important;
    }
    /* Show Mobile Bubble */
    #bubbleDeskView {
        display: none !important;
    }
    /* Hide Desk Bubble */
    #bubblePhoneView {
        display: block !important;
    }
    /* Responsive Jumbotron */
    .jumbotron {
        background-color: #ed553b;
        width: 100%;
        height: 100%;
        padding: 0;
        margin-bottom: 0;
    }
    .display-2 {
        font-size: 38px;
    }
    .btn-info {
        font-size: 20px !important;
    }
    img {
        width: 45% !important;
    }
}

@media (max-width:841px) {
    /* big landscape tablets, laptops, and desktops */
    /* Responsive Navbar */
    .navbar-brand {
        font-size: 2em !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    span.divider {
        display: none;
    }
    .navbar {
        width: 100% !important;
    }
    .btnSocial {
        font-size: 2.6em;
    }
    ul {
        text-align: center;
    }
    .nav-link {
        background-color: lightblue;
        width: 100%;
        margin-top: 10px;
        border: 2px solid black;
        font-size: 2em !important;
    }
    #circle-brand {
        font-size: 2em !important;
    }
    /* Show Mobile Bubble */
    #bubbleDeskView {
        display: none !important;
    }
    /* Hide Desk Bubble */
    #bubblePhoneView {
        display: block !important;
    }
    /* Responsive Jumbotron */
    .jumbotron {
        background-color: #ed553b;
        width: 100%;
        height: 100%;
        padding: 0;
        margin-bottom: 0;
    }
    .display-2 {
        font-size: 38px;
    }
    .btn-info {
        font-size: 20px !important;
    }
    img {
        width: 20% !important;
    }
 
}

@media (max-width:1281px) {
    /* Responsive Navbar */
    .navbar-brand {
        font-size: 3em !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    .navbar {
        width: 100% !important;
    }
    .btnSocial {
        font-size: 2.6em;
    }
    ul {
        text-align: center;
    }   
    .nav-link {
        font-size: 1.8em !important;
    }
    #circle-brand {
        font-size: 2em !important;
    }
    /* Show Mobile Bubble */
    #bubbleDeskView {
        display: show !important;
    }
    /* Hide Desk Bubble */
    #bubblePhoneView {
        display: none !important;
    }
    /* Responsive Jumbotron */
    .jumbotron {
        background-color: #ed553b;
        width: 100%;
        height: 100%;
        padding: 0;
        margin-bottom: 0;
    }
    .display-2 {
        font-size: 70px !important;
    }
    .btn-info {
        font-size: 20px !important;
    }
    img {
        width: 20% !important;
    }
}