/* Global Styles: */

html, body {
    background-image: url(/assets/site-backgrounds/site-bg.png);
    background-color: #ec553b;
    font-family: 'Francois One', sans-serif;
    scroll-behavior: smooth;
}

/* Custom Bullet Styles: */

/* li:before {
    position: fixed;
    left: 80px;
    content: '\»';
}

ul {
    list-style: none;
} */

/* Scrollbar Style: */

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #007bff;
    outline: 1px solid slategrey;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #005bff;
    outline: 1px solid slategrey;
}

/* SITE 'LandingPage' --------------------------------------------------------------------------------------------- */

/* Background Styles: */

#LandingPage {
    width: 100%;
    z-index: -9999;
    background-color: #ec553b;
    height: 100%;
}

/* Navbar Styles: */

.bg-steel {
    background-color: #1f639b;
}

#MainNavBrand {
    font-size: 5em;
}

#SiteNavLinks {
    font-size: 1.5em;
}

#ContainSocialCircles {
    position: absolute;
    left: 50%;
    -webkit-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    transform: translatex(-50%);
}

/* Social Circles: */

.social-icon-github {
    background-color: #333333;
    color: #ffffff;
    border-radius: 100%;
    width: 4.5vw;
    height: 4.5vw;
    border-radius: 100%;
    font-size: 2.4em;
    border: none;
}

.social-icon-linkedin {
    background-color: #0176f6;
    color: #ffffff;
    border-radius: 100%;
    width: 4.5vw;
    height: 4.5vw;
    border-radius: 100%;
    font-size: 2.4em;
    border: none;
}

/* Hover Effect (For objects such as the social circles. This animation applies where it is needed) */

.hover-effect {
    -webkit-animation-name: floating;
    animation-name: floating;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

@-webkit-keyframes floating {
    from {
        -webkit-transform: translate(0, 0px);
        transform: translate(0, 0px);
    }
    65% {
        -webkit-transform: translate(0, 6px);
        transform: translate(0, 6px);
    }
    to {
        -webkit-transform: translate(0, -0px);
        transform: translate(0, -0px);
    }
}

@keyframes floating {
    from {
        -webkit-transform: translate(0, 0px);
        transform: translate(0, 0px);
    }
    65% {
        -webkit-transform: translate(0, 6px);
        transform: translate(0, 6px);
    }
    to {
        -webkit-transform: translate(0, -0px);
        transform: translate(0, -0px);
    }
}

/* Intro Ribbon Styles: */

#IntroRibbon-d {
    background-image: url(/assets/site-backgrounds/ribbon.png);
    background-repeat: no-repeat;
    background-position: top;
    height: 6vw !important;
    font-size: 1.8em;
}

#IntroRibbon-m {
    display: none;
}

/* DeepDive Styles: */

#iamshawn-profile {
    border-radius: 50%;
    border: 6px solid #33b4e4;
}

/* Section1 Media Queries: */

/* hi-res laptops and desktops */

@media screen and (max-width:1281px) {
    /* Navbar Styles: */
    nav.navbar.navbar-expand-lg.navbar-dark.bg-steel.p-5 {
        padding: 5px !important;
    }
    #MainNavBrand {
        font-size: 4em;
    }
    #SiteNavLinks {
        font-size: 1.1em;
    }
    /* Social Circles: */
    .social-icon-github {
        background-color: #333333;
        color: #ffffff;
        border-radius: 100%;
        width: 5vw;
        height: 5vw;
        border-radius: 100%;
        font-size: 2.4em;
        border: none;
    }
    .social-icon-linkedin {
        background-color: #0176f6;
        color: #ffffff;
        border-radius: 100%;
        width: 5vw;
        height: 5vw;
        border-radius: 100%;
        font-size: 2.4em;
        border: none;
    }
    #SocialCircleLabel {
        font-size: 1.8em;
        padding: 0 !important;
        margin: 0 !important;
    }
    /* Intro Ribbon Styles: */
    #IntroRibbon-m {
        display: block;
        border-radius: 0 !important;
        background-color: #33b5e5;
        text-align: center;
        color: #ffffff;
        font-size: 1em;
        border: none;
        top: -1px;
    }
    #IntroRibbon-d {
        display: none;
    }
    /* DeepDive Styles: */
    #iamshawn-profile {
        border-radius: 50%;
        width: 14%;
    }
    #DiveDeepLabel {
        font-size: 2em;
    }
    /* Partials: */
    #TopScroll {
        display: none !important;
    }
}

/* big landscape tablets, laptops, and desktops */

@media screen and (max-width:1025px) {
    /* Navbar Styles: */
    nav.navbar.navbar-expand-lg.navbar-dark.bg-steel.p-5 {
        padding: 5px !important;
    }
    #MainNavBrand {
        font-size: 3.5em;
    }
    #SiteNavLinks {
        font-size: 1.2em;
    }
    /* Social Circles: */
    .social-icon-github, .social-icon-linkedin, #SocialCircleLabel {
        display: none;
    }
    /* Intro Ribbon Styles: */
    #IntroRibbon-m {
        display: block;
        border-radius: 0 !important;
        background-color: #33b5e5;
        text-align: center;
        color: #ffffff;
        font-size: 1em;
        border: none;
    }
    #IntroRibbon-d {
        display: none;
    }
    /* DeepDive Styles: */
    #iamshawn-profile {
        border-radius: 50%;
        width: 20%;
    }
    #DiveDeepLabel {
        font-size: 2em;
    }
    /* Partials: */
    #TopScroll {
        display: none !important;
    }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */

@media screen and (max-width:961px) {
    /* Navbar Styles: */
    nav.navbar.navbar-expand-lg.navbar-dark.bg-steel.p-5 {
        padding: 5px !important;
    }
    #MainNavBrand {
        font-size: 3.5em;
    }
    #SiteNavLinks {
        font-size: 1.2em;
    }
    /* Social Circles: */
    .social-icon-github, .social-icon-linkedin, #SocialCircleLabel {
        display: none;
    }
    /* Intro Ribbon Styles: */
    #IntroRibbon-m {
        display: block;
        border-radius: 0 !important;
        background-color: #33b5e5;
        text-align: center;
        color: #ffffff;
        font-size: 1em;
        border: none;
    }
    #IntroRibbon-d {
        display: none;
    }
    /* DeepDive Styles: */
    #iamshawn-profile {
        border-radius: 50%;
        width: 20%;
    }
    #DiveDeepLabel {
        font-size: 2em;
    }
    /* Partials: */
    #TopScroll {
        display: none !important;
    }
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

@media screen and (max-width:641px) {
    /* Navbar Styles: */
    nav.navbar.navbar-expand-lg.navbar-dark.bg-steel.p-5 {
        padding: 5px !important;
    }
    #MainNavBrand {
        font-size: 3.5em;
    }
    #SiteNavLinks {
        font-size: 1.2em;
    }
    /* Social Circles: */
    .social-icon-github, .social-icon-linkedin, #SocialCircleLabel {
        display: none;
    }
    /* Intro Ribbon Styles: */
    #IntroRibbon-m {
        display: block;
        border-radius: 0 !important;
        background-color: #33b5e5;
        text-align: center;
        color: #ffffff;
        font-size: 1em;
        border: none;
    }
    #IntroRibbon-d {
        display: none;
    }
    /* DeepDive Styles: */
    #iamshawn-profile {
        border-radius: 50%;
        width: 30%;
    }
    #DiveDeepLabel {
        font-size: 2em;
    }
    /* Partials: */
    #TopScroll {
        display: none !important;
    }
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

@media screen and (max-width:481px) {
    /* Navbar Styles: */
    nav.navbar.navbar-expand-lg.navbar-dark.bg-steel.p-5 {
        padding: 5px !important;
    }
    #MainNavBrand {
        font-size: 3.5em;
    }
    #SiteNavLinks {
        font-size: 1em;
    }
    /* Social Circles: */
    .social-icon-github, .social-icon-linkedin, #SocialCircleLabel {
        display: none;
    }
    /* Intro Ribbon Styles: */
    #IntroRibbon-m {
        display: block;
        border-radius: 0 !important;
        background-color: #33b5e5;
        text-align: center;
        color: #ffffff;
        font-size: 0.8em;
        border: none;
    }
    #IntroRibbon-d {
        display: none;
    }
    /* DeepDive Styles: */
    #iamshawn-profile {
        border-radius: 50%;
        width: 38%;
    }
    #DiveDeepLabel {
        font-size: 2.5em;
    }
    /* Partials: */
    #TopScroll {
        display: none !important;
    }
}

/* smartphones, iPhone, portrait 480x320 phones */

@media screen and (max-width:320px) {
    /* Navbar Styles: */
    nav.navbar.navbar-expand-lg.navbar-dark.bg-steel.p-5 {
        padding: 5px !important;
    }
    #MainNavBrand {
        font-size: 2em;
    }
    #SiteNavLinks {
        font-size: 0.7em;
    }
    /* Social Circles: */
    .social-icon-github, .social-icon-linkedin, #SocialCircleLabel {
        display: none;
    }
    /* Intro Ribbon Styles: */
    #IntroRibbon-m {
        display: block;
        border-radius: 0 !important;
        background-color: #33b5e5;
        text-align: center;
        color: #ffffff;
        font-size: 0.6em;
        border: none;
    }
    #IntroRibbon-d {
        display: none;
    }
    /* DeepDive Styles: */
    #iamshawn-profile {
        border-radius: 50%;
        width: 68%;
    }
    #DiveDeepLabel {
        font-size: 3em;
    }
    /* Partials: */
    #TopScroll {
        display: none !important;
    }
}

/* SITE 'AboutMe' --------------------------------------------------------------------------------------------- */

/* Section Definition Styles: */

#AboutMe {
    background: url(/assets/site-backgrounds/site-bg.png);
    background-color: #1f629a;
    height: 52rem;
    position: relative;
    width: 100%;
}

#AboutMeMobile {
    display: none;
}

/* AboutMe Styles: */

#iamshawn-profile2 {
    float: left;
    width: 30%;
}

#AboutContext {
    position: absolute;
    left: 770px;
    top: 9px;
    /* float: right; */
    margin: 2rem;
}

#JumboAbout {
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 77% 100%, 73% 93%, 69% 100%, 0 100%); */
    background-image: url(/assets/site-backgrounds/JumboAbout.png);
    background-color: none;
    border: none;
    color: #ffffff;
    padding: 0.1rem;
}

#TechDetailsSeperator {
    position: relative;
    right: 40px;
    font-size: 4em;
}

#TechDetails {
    position: relative;
    bottom: 35px;
    background-color: #3986c4;
    border: 4px solid white;
    font-size: 0.7em;
    width: 160%;
    left: 90px;
    padding: 30px;
}

/* Social Links: */

.social-link-resume {
    position: relative;
    border-radius: 100%;
    height: 4.5vw;
    top: 30px;
    border-radius: 100%;
    font-size: 2em;
    border: none;
}

#SkillsFrontEnd, #SKillsBackEnd {
    border: 4px solid #ffffff;
    width: 100%;
}

#SkillsFrontEnd {
    background-color: #33b4e4;
    color: #ffffff;
}

#ViewProjectsBtn {
    position: absolute;
    background: url(/assets/site-backgrounds/btnViewProjects.png) no-repeat;
    background-color: #33b4e4;
    left: 1200px;
    bottom: 373px;
    height: 38px;
    width: 180px;
    font-size: 1.6em;
    border: none;
    color: #ffffff;
}

/* Section2 Media Queries: */

/* hi-res laptops and desktops */

@media screen and (max-width:1281px) {
    /* Section Definition Styles: */
    #AboutMe {
        position: relative;
        background: url(/assets/site-backgrounds/site-bg.png);
        background-color: #1f629a;
        height: 200rem;
        width: 100%;
    }
    #AboutMeMobile {
        display: block;
    }
    /* Remove Desktop Styles: */
    #AboutContext, #JumboAbout, #TechDetailsSeperator, #TechDetails, .social-link-resume, #SkillsFrontEnd, #SKillsBackEnd, #SkillsFrontEnd, #ViewProjectsBtn {
        display: none;
    }
    #iamshawn-profile3 {
        height: 550px;
        width: 100%;
        display: block;
    }
    /* Mobile SKill Card Styles: */
    #SkillsFrontEndMobile {
        position: relative;
        background-color: #33b4e4;
        border: 4px solid #ffffff;
        color: #ffffff;
        margin: 10px;
    }
    #SkillsBackndMobile {
        position: relative;
        background-color: #33b4e4;
        border: 4px solid #ffffff;
        color: #ffffff;
    }
    #TechDetailsMobile {
        background-color: #3986c4;
        border: 4px solid white;
        margin: 5px 100px;
        padding: 10px;
    }
}

/* big landscape tablets, laptops, and desktops */

@media screen and (max-width:1025px) {
    /* Section Definition Styles: */
    #AboutMe {
        position: relative;
        background: url(/assets/site-backgrounds/site-bg.png);
        background-color: #1f629a;
        height: 200rem;
        width: 100%;
    }
    #AboutMeMobile {
        display: block;
    }
    /* Remove Desktop Styles: */
    #AboutContext, #JumboAbout, #TechDetailsSeperator, #TechDetails, .social-link-resume, #SkillsFrontEnd, #SKillsBackEnd, #SkillsFrontEnd, #ViewProjectsBtn {
        display: none;
    }
    #iamshawn-profile3 {
        height: 450px;
        width: 100%;
        display: block;
    }
    /* Mobile SKill Card Styles: */
    #SkillsFrontEndMobile {
        position: relative;
        background-color: #33b4e4;
        border: 4px solid #ffffff;
        color: #ffffff;
        margin: 10px;
    }
    #SkillsBackndMobile {
        position: relative;
        background-color: #33b4e4;
        border: 4px solid #ffffff;
        color: #ffffff;
    }
    #TechDetailsMobile {
        background-color: #3986c4;
        border: 4px solid white;
        margin: 5px 100px;
        padding: 10px;
    }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */

@media screen and (max-width:961px) {
    /* Section Definition Styles: */
    #AboutMe {
        background: url(/assets/site-backgrounds/site-bg.png);
        background-color: #1f629a;
        height: 200rem;
        position: relative;
        width: 100%;
    }
    #AboutMeMobile {
        display: block;
    }
    /* Remove Desktop Styles: */
    #iamshawn-profile2, #AboutContext, #JumboAbout, #TechDetailsSeperator, #TechDetails, .social-link-resume, #SkillsFrontEnd, #SKillsBackEnd, #SkillsFrontEnd, #ViewProjectsBtn {
        display: none;
    }
    /* Mobile SKill Card Styles: */
    #SkillsFrontEndMobile {
        position: relative;
        background-color: #33b4e4;
        border: 4px solid #ffffff;
        color: #ffffff;
        margin: 10px;
    }
    #SkillsBackndMobile {
        position: relative;
        background-color: #33b4e4;
        border: 4px solid #ffffff;
        color: #ffffff;
    }
    #TechDetailsMobile {
        background-color: #3986c4;
        border: 4px solid white;
        margin: 5px 100px;
        padding: 10px;
    }
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

@media screen and (max-width:641px) {
    /* Section Definition Styles: */
    #AboutMe {
        background: url(/assets/site-backgrounds/site-bg.png);
        background-color: #1f629a;
        height: 200rem;
        position: relative;
        width: 100%;
    }
    #AboutMeMobile {
        display: block;
    }
    /* Remove Desktop Styles: */
    #iamshawn-profile2, #AboutContext, #JumboAbout, #TechDetailsSeperator, #TechDetails, .social-link-resume, #SkillsFrontEnd, #SKillsBackEnd, #SkillsFrontEnd, #ViewProjectsBtn {
        display: none;
    }
    #iamshawn-profile3 {
        height: 400px;
        width: 100%;
        display: block;
    }
    /* Mobile SKill Card Styles: */
    #SkillsFrontEndMobile {
        position: relative;
        background-color: #33b4e4;
        border: 4px solid #ffffff;
        color: #ffffff;
        margin: 5px 100px;
    }
    #SkillsBackndMobile {
        position: relative;
        background-color: #33b4e4;
        border: 4px solid #ffffff;
        color: #ffffff;
    }
    #TechDetailsMobile {
        background-color: #3986c4;
        border: 4px solid white;
        margin: 5px 100px;
        padding: 10px;
    }
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

@media screen and (max-width:481px) {
    /* Section Definition Styles: */
    #AboutMe {
        background: url(/assets/site-backgrounds/site-bg.png);
        background-color: #1f629a;
        height: 200rem;
        position: relative;
        width: 100%;
    }
    #AboutMeMobile {
        display: block;
    }
    /* Remove Desktop Styles: */
    #iamshawn-profile2, #AboutContext, #JumboAbout, #TechDetailsSeperator, #TechDetails, .social-link-resume, #SkillsFrontEnd, #SKillsBackEnd, #SkillsFrontEnd, #ViewProjectsBtn {
        display: none;
    }
    /* Mobile SKill Card Styles: */
    #SkillsFrontEndMobile {
        background-color: #33b4e4;
        border: 4px solid #ffffff;
        color: #ffffff;
        margin: 10px;
    }
    #TechDetailsMobile {
        position: relative;
        background-color: #3986c4;
        border: 4px solid white;
        margin: 10px;
    }
}

/* smartphones, iPhone, portrait 480x320 phones */

@media screen and (max-width:320px) {
    /* Section Definition Styles: */
    #AboutMe {
        background: url(/assets/site-backgrounds/site-bg.png);
        background-color: #1f629a;
        height: 200rem;
        position: relative;
        width: 100%;
    }
    #AboutMeMobile {
        display: block;
    }
    /* Remove Desktop Styles: */
    #iamshawn-profile2, #AboutContext, #JumboAbout, #TechDetailsSeperator, #TechDetails, .social-link-resume, #SkillsFrontEnd, #SKillsBackEnd, #SkillsFrontEnd, #ViewProjectsBtn {
        display: none;
    }
    #iamshawn-profile3 {
        height: 200px;
        width: 100%;
        display: block;
    }
    /* Mobile SKill Card Styles: */
    #SkillsFrontEndMobile {
        background-color: #33b4e4;
        border: 4px solid #ffffff;
        color: #ffffff;
        margin: 10px;
    }
    #TechDetailsMobile {
        position: relative;
        background-color: #3986c4;
        border: 4px solid white;
        margin: 10px;
    }
}

/* SITE 'Projects' --------------------------------------------------------------------------------------------- */

div#MyProjects {
    position: relative;
    width: 100%;
    height: 140%;
}

/* Project Header Jumbotron & Keyframe Animations */

@-webkit-keyframes ProjectJumboAnimation {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 51%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes ProjectJumboAnimation {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 51%
    }
    100% {
        background-position: 0% 50%
    }
}

@-o-keyframes ProjectJumboAnimation {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 51%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes ProjectJumboAnimation {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 51%
    }
    100% {
        background-position: 0% 50%
    }
}

#MyProjectsHeader {
    background: linear-gradient(89deg, #1f629a, #3cb0db, #1f629a, #ce5042);
    background-size: 400% 400%;
    -webkit-animation: ProjectJumboAnimation 30s ease infinite;
    -moz-animation: ProjectJumboAnimation 30s ease infinite;
    -o-animation: ProjectJumboAnimation 30s ease infinite;
    animation: ProjectJumboAnimation 30s ease infinite;
    border-top: 1px solid yellow;
    border-bottom: 1px solid yellow;
    color: #ffffff;
    box-shadow: none !important;
}

.project {
    width: 16%;
}

img.card-img-top {
    height: 38%;
}

#footer {
    background: url(/assets/site-backgrounds/site-bg.png);
    position: relative;
    margin-top: 41px;
    width: 100%;
}

/* Section 3 Media Queries: */

/* hi-res laptops and desktops */

@media screen and (max-width:1281px) {
    .display-3 {
        font-size: 300%;
    }
    .card-text {
        font-size: 140%;
    }
    h1.text-white.text-center.display-4.mb-4 {
        font-size: 300%;
    }
    .project {
        width: 98%;
        height: 80%;
        margin-bottom: 33px;
    }
    img.card-img-top {
        height: 45%;
    }
}

/* big landscape tablets, laptops, and desktops */

@media screen and (max-width:1025px) {
    .display-3 {
        font-size: 300%;
    }
    .card-text {
        font-size: 140%;
    }
    h1.text-white.text-center.display-4.mb-4 {
        font-size: 300%;
    }
    .project {
        width: 98%;
        height: 80%;
        margin-bottom: 33px;
    }
    img.card-img-top {
        height: 45%;
    }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */

@media screen and (max-width:961px) {
    .display-3 {
        font-size: 300%;
    }
    .card-text {
        font-size: 140%;
    }
    h1.text-white.text-center.display-4.mb-4 {
        font-size: 200%;
    }
    .project {
        width: 98%;
        height: 80%;
        margin-bottom: 33px;
    }
    img.card-img-top {
        height: 45%;
    }
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

@media screen and (max-width:641px) {
    .display-3 {
        font-size: 300%;
    }
    .card-text {
        font-size: 160%;
    }
    h1.text-white.text-center.display-4.mb-4 {
        font-size: 200%;
    }
    .project {
        width: 98%;
        height: 80%;
        margin-bottom: 33px;
    }
    img.card-img-top {
        height: 45%;
    }
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

@media screen and (max-width:481px) {
    .display-3 {
        font-size: 200%;
    }
    .card-text {
        font-size: 140%;
    }
    h1.text-white.text-center.display-4.mb-4 {
        font-size: 200%;
    }
    .project {
        width: 98%;
        height: 80%;
        margin-bottom: 33px;
    }
    img.card-img-top {
        height: 45%;
    }
}

/* smartphones, iPhone, portrait 480x320 phones */

@media screen and (max-width:320px) {
    .display-3 {
        font-size: 180%;
    }
    .card-text {
        font-size: 80%;
    }
    h1.text-white.text-center.display-4.mb-4 {
        font-size: 200%;
    }
    .project {
        width: 98%;
        height: 80%;
        margin-bottom: 33px;
    }
    img.card-img-top {
        height: 45%;
    }
}

/* SITE 'Partials' --------------------------------------------------------------------------------------------- */

/* Top Scrol Styles: */

#TopScroll {
    position: fixed;
    background-color: #007bff !important;
    z-index: 99999;
    right: 12px;
    bottom: 8px;
}

/* ResumePopup Styles: */

.modal-header {
    background-color: #1f629a;
    color: #ffffff;
}

button.close {
    color: #ffffff;
    font-size: 2em;
}

.modal-body {
    padding: 0;
}

#EmbededResume {
    width: 100%;
    height: 40.1em;
}
